In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("Cleaned_data.csv")

In [3]:
data

,Player,Matches_Test,Matches_ODI,Matches_T20,Matches_IPL,batting_Innings_Test,batting_Innings_ODI,batting_Innings_T20,batting_Innings_IPL,batting_Runs_Test,...,bowling_IPL_4w,bowling_Test_5w,bowling_ODI_5w,bowling_T20_5w,bowling_IPL_5w,bowling_Test_10w,bowling_ODI_10w,bowling_T20_10w,bowling_IPL_10w,team_name
0,Aftab Alam,0,27,12,0,0,17,5,0,0,...,0,0,0,0,0,0,0,0,0,Afghanistan
1,Asghar Afghan,6,114,75,0,10,108,68,0,440,...,0,0,0,0,0,0,0,0,0,Afghanistan
2,Dawlat Zadran,0,82,33,0,0,56,17,0,0,...,0,0,0,0,0,0,0,0,0,Afghanistan
3,Gulbadin Naib,0,89,74,2,0,78,64,1,0,...,0,0,1,0,0,0,0,0,0,Afghanistan
4,Hamid Hassan,0,38,25,0,0,22,9,0,0,...,0,0,1,0,0,0,0,0,0,Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Tendai Chatara,9,87,60,0,18,57,16,0,94,...,0,1,0,0,0,0,0,0,0,Zimbabwe
205,Donald Tiripano,16,38,23,0,31,29,16,0,531,...,0,0,1,0,0,0,0,0,0,Zimbabwe
206,Chris Mpofu,15,84,32,0,28,41,11,0,105,...,0,0,1,0,0,0,0,0,0,Zimbabwe
207,Kyle Jarvis,13,49,21,0,24,33,12,0,128,...,0,3,0,0,0,0,0,0,0,Zimbabwe
208,Brandon Mavuta,5,14,13,0,8,10,10,0,82,...,0,1,0,0,0,0,0,0,0,Zimbabwe